<div class="mt-4 p-5 bg-secondary text-light rounded">
    <h1 class="display-4">Build a Stock Market Web App</h1>
    <p class="lead">Test project following the course created by John Elder in 
        <a href="https://www.udemy.com/course/build-a-stock-market-web-app-with-node-and-javascript">Udemy course</a>:</p>
    <div class="lead">
        <p>High level steps followed:</p>
        <ul>
            <li>Create Express App</li>
            <li>Create static HTML pages using Bootstrap</li>
            <li>Update the static pages with Handlebar</li>
            <li>Create an account on iexcloud, and invoke the iexcloud API to get the details of each stock</li>
            <li>Update the search form to be submitted, and add a route to call the iexcloud API based on the search filter</li>
            <li>Create a Heroku account and download the Heroku CLI</li>
            <li>Login to Heroku from CLI: heroku login</li>
            <li>Create a Heroku App from CLI: heroku create</li>
            <li>Add Procfile to code</li>
            <li>Push the app to Heroku using the command: git push heroku master
            </li>
        </ul>
    </div>
</div>